@import url(reset.css);

.header{
  width:100%;
  height: 4em;
  background-color: #23296C ;
    }
.first{
  display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items: baseline;
    align-content:stretch;
    }
.cito{
  width: 8em;
}
.bino{
  width: 3em;
  left: 1em;
}

ol{
    list-style: none;
}
ol > li{
    padding-left: 1em;
    position: relative;
    margin: 1em;
}
ol > li:before{
    content: '';
    position: absolute; top: 0; left: 0;
    color: white;}

.split{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  background-color: #23296C;

}
.centered{
  color: white;
  font-size: 1em;
}
.text{
  margin: 10px 0;
  padding: 5px 0;
  color:#23296C;
  font-size: 1em;
}
.bank{
  width: 6em;
}
.blank{
  width: 150px;
  height: 150px;
}
.galc{
  width: 1em;
  margin: 10px;
}
.lower{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: #23296C;
}
h2{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: #23296C;
  margin: 1em 0;
}
.three{
    background-color: #23296C;
  background: radial-gradient(44.79% 64.07% at 89.69% 91.94%, #0B54F1 0%, #1F3183 51.56%, #23296C 83.33%), #23296C;
    height: 600px;
}
.four{
  width: 375px;
}
.container{
  display: flex;
  padding: 1em;
  width: 100%;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items: stretch;
    align-content:stretch;
    font-size: 1em;
    color: white;
    font-weight: medium ;
    line-height: 1,5;
}

.logo3{
  width: 11em;
  height: 4em;
}
.left{
  font-size: 16px;
  color: white;
  line-height: 1.5;
  padding: 5px;
  margin-bottom: 80px;
}
.page{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #23296C;
}
.title{
  font-size: 25px;
  color: white;
  line-height: 1.3;
  margin-right: 35px;
  margin-top: 10px;
}

}
.five{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: #23296C;
}
.fire{
  width: 375px;
}
h3{
  font-size: 1em;
  line-height: 1,5;
  color: #23296C;

}
.from{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;


}
.poni{
  color:#23296C;
  font-size: 1em;
}
.will{
  padding: 5px;
}
.titlee{
  font-size:25px;
  font-weight: bold;
  color: #23296C;
  padding:10px 30px;
}
.column{
    list-style: none;
    padding-left: 10px;
}
ul > li{
    padding-left: 24px;
    font-size: 1em;
    color: #23296C;
    font-style: medium;
    position: relative;
    margin: 10px;

}
ul > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: #23296C;}
.image{
  width: 9em;
  right: 0px;
  bottom: 0px;
}
.row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end
}
.black
{
  width: 40em;
  margin: 10px 0;
  color: grey;
}
.six{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.face{
  margin: 5px 15px;
  width: 100px;
}
h4{
  font-size: 3em;
  color: #B3D2DE;
}
.sixtext{
  padding: 5px;
  font-size: 1em;
  color: #23296C;
}
.sprey{
  width: 120px;
}
.yellow{
  padding: 1em;
  width: 100%;
color:#B3D2DE;
  background-color: #F6C142;
  font-size: 1em;
  text-align: center;
}
.split2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

}
p{
  color: #23296C;
  font-size:1em;

}
.twoheader{
  width:100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: stretch;
  align-content:stretch;
}
.mese{
  font-size: 25px;
  color: #23296C;
  font-weight: bold ;
  margin-right: 20px;
  margin-top: 20px;
}
.seven{
  background-color: #23296C;
  height: 420px;
}
.table{
  width: 375px;
}
.black{
  color: #23296C;
  font-size: 12px;
}

.eight{
  background-color: #4E4E4E;
}
.firsttitle{
  text-align:center;
  color:grey;
  font-size: 23px;
}
.twotitle{
  text-align:center;
  color:  #23296C;
  padding:30px;
}
.danger{
  color: #23296C;
  padding: 5px 0;
}
.whitee{
  color: white;
}
