@import url(reset.css);

.header{
  width:100%;
  height: 4em;
  background-color: #23296C ;
    }
.first{
  display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items: baseline;
    align-content:stretch;
    }
.cito{
  width: 8em;
}
.bino{
  width: 3em;
  left: 1em;
}

ol{
    list-style: none;
}
ol > li{
    padding-left: 1em;
    position: relative;
    margin: 1em;
}
ol > li:before{
    content: '';
    position: absolute; top: 0; left: 0;
    color: white;}

.split{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  background-color: #23296C;

}
.centered{
  color: white;
  font-size: 1em;
}
.text{
  margin: 10px 0;
  padding: 5px 0;
  color:#23296C;
  font-size: 1em;
}
.bank{
  width: 6em;
}
.blank{
  width: 150px;
  height: 150px;
}
.galc{
  width: 1em;
  margin: 10px;
}
.lower{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: #23296C;
}
h2{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  color: #23296C;
  margin: 1em 0;
}
.three{
    height: 900px;
    background-color: #23296C;
  background: radial-gradient(44.79% 64.07% at 89.69% 91.94%, #0B54F1 0%, #1F3183 51.56%, #23296C 83.33%), #23296C;
    height: 600px;
}
.four{
  width: 375px;
}
.container{
  display: flex;
  padding: 1em;
  width: 100%;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items: stretch;
    align-content:stretch;
    font-size: 1em;
    color: white;
    font-weight: medium ;
    line-height: 1,5;
}

.logo3{
  width: 11em;
  height: 4em;
}
.left{
  font-size: 16px;
  color: white;
  line-height: 1.5;
  padding: 5px;
  margin-bottom: 80px;
}
.page{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #23296C;
}
.title{
  font-size: 25px;
  color: white;
  line-height: 1.3;
  margin-right: 35px;
  margin-top: 10px;
}

}
.five{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.header{
  width:100%;
  height: 150px;
  background-color: #23296C ;
    }
.first{
  padding: 30px;
  display: flex;

    }
.cito{
  width: 193px;
  height: 35px;
}
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
